In [79]:
import datetime
import pandas as pd
import numpy as np
import pyodbc
pyodbc.drivers()

['ODBC Driver 17 for SQL Server']

In [94]:
raw_df = pd.read_csv('BD-Imp.csv',sep=';')

In [95]:
raw_df.head()

,Fecha,País,Competidor,Descriptor,TM,Precio CIF ($/TM),PPTO Precio CIF ($/TM)
0,31/01/13,HN,Cargill,Maíz,3675.3620,338.3700,NaN
1,28/02/13,HN,Cargill,Maíz,3642.5900,341.9200,NaN
2,31/03/13,HN,Cargill,Maíz,9898.0400,312.0800,NaN
3,30/04/13,HN,Cargill,Maíz,12228.0000,298.6700,NaN
4,31/05/13,HN,Cargill,Maíz,NaN,NaN,NaN

In [96]:
header = ['FCT_YR_NUM','FCT_MT_NUM','FCT_CD','FCT_DT',
          'CNTRY_CD','CMPTTR_NM','MTRL_NM','VLM_QTY',
          'VLM_UNT_CD','CIF_PRC_AMNT','CIF_PRC_CRRNCY_CD',
          'BDGT_CIF_PRC_AMNT','BDGT_CIF_PRC_CRRNCY_CD','PPLTN_DT']

In [97]:
cln_df = pd.DataFrame(columns=header)

In [109]:
cln_df['FCT_DT']=raw_df['Fecha']
cln_df['CNTRY_CD']=raw_df['País']
cln_df['CMPTTR_NM']=raw_df['Competidor']
cln_df['MTRL_NM']=raw_df['Descriptor']
cln_df['VLM_QTY']=raw_df['TM']
cln_df['CIF_PRC_AMNT']=raw_df['Precio CIF ($/TM)']
cln_df['BDGT_CIF_PRC_AMNT']=raw_df['PPTO Precio CIF ($/TM)']

In [119]:
cln_df.replace('',None)

,FCT_YR_NUM,FCT_MT_NUM,FCT_CD,FCT_DT,CNTRY_CD,CMPTTR_NM,MTRL_NM,VLM_QTY,VLM_UNT_CD,CIF_PRC_AMNT,CIF_PRC_CRRNCY_CD,BDGT_CIF_PRC_AMNT,BDGT_CIF_PRC_CRRNCY_CD,PPLTN_DT
0,2013,01,2013-01,31/01/13,HN,Cargill,Maíz,3675.3620,TM,338.3700,$/TM,NaN,$/TM,10/21/2020
1,2013,02,2013-02,28/02/13,HN,Cargill,Maíz,3642.5900,TM,341.9200,$/TM,NaN,$/TM,10/21/2020
2,2013,03,2013-03,31/03/13,HN,Cargill,Maíz,9898.0400,TM,312.0800,$/TM,NaN,$/TM,10/21/2020
3,2013,04,2013-04,30/04/13,HN,Cargill,Maíz,12228.0000,TM,298.6700,$/TM,NaN,$/TM,10/21/2020
4,2013,05,2013-05,31/05/13,HN,Cargill,Maíz,NaN,-,NaN,-,NaN,-,10/21/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3032,2020,08,2020-08,31/08/20,HN,SPOT,DDGS,NaN,-,221.0000,-,NaN,-,10/21/2020
3033,2020,09,2020-09,30/09/20,HN,SPOT,DDGS,NaN,-,231.0000,-,NaN,-,10/21/2020
3034,2020,10,2020-10,31/10/20,HN,SPOT,DDGS,NaN,-,262.0000,-,NaN,-,10/21/2020
3035,2020,11,2020-11,30/11/20,HN,SPOT,DDGS,NaN,-,NaN,-,NaN,-,10/21/2020
3036,2020,12,2020-12,31/12/20,HN,SPOT,DDGS,NaN,-,270.7500,-,NaN,-,10/21/2020

In [120]:
cln_df['VLM_QTY']=cln_df['VLM_QTY'].astype(float)

ValueError: could not convert string to float: ''

In [99]:
cln_df['FCT_DT']=cln_df['FCT_DT'].apply(lambda x: datetime.datetime.strptime(x, '%d/%m/%y'))
cln_df['FCT_YR_NUM']=cln_df['FCT_DT'].apply(lambda x: x.strftime("%Y"))
cln_df['FCT_MT_NUM']=cln_df['FCT_DT'].apply(lambda x: x.strftime("%m"))
cln_df['FCT_CD']=cln_df['FCT_YR_NUM']+'-'+cln_df['FCT_MT_NUM']
cln_df['VLM_UNT_CD'] = np.where(~cln_df['VLM_QTY'].isnull(),'TM','-')
cln_df['CIF_PRC_CRRNCY_CD'] = np.where(~cln_df['VLM_QTY'].isnull(),'$/TM','-')
cln_df['BDGT_CIF_PRC_CRRNCY_CD'] = np.where(~cln_df['VLM_QTY'].isnull(),'$/TM','-')

In [100]:
cln_df['PPLTN_DT']=datetime.datetime.today().strftime("%m/%d/%Y")

In [90]:
#cln_df['VLM_QTY'] = cln_df['VLM_QTY'].fillna(0)
#cln_df['CIF_PRC_AMNT'] = cln_df['CIF_PRC_AMNT'].fillna(0)
#cln_df['BDGT_CIF_PRC_AMNT'] = cln_df['BDGT_CIF_PRC_AMNT'].fillna(0)

In [101]:
cln_df.isna().sum()

FCT_YR_NUM                   0
FCT_MT_NUM                   0
FCT_CD                       0
FCT_DT                       0
CNTRY_CD                     0
CMPTTR_NM                    0
MTRL_NM                      0
VLM_QTY                   1333
VLM_UNT_CD                   0
CIF_PRC_AMNT               765
CIF_PRC_CRRNCY_CD            0
BDGT_CIF_PRC_AMNT         2907
BDGT_CIF_PRC_CRRNCY_CD       0
PPLTN_DT                     0
dtype: int64

In [106]:
cln_df.dtypes

FCT_YR_NUM                        object
FCT_MT_NUM                        object
FCT_CD                            object
FCT_DT                    datetime64[ns]
CNTRY_CD                          object
CMPTTR_NM                         object
MTRL_NM                           object
VLM_QTY                           object
VLM_UNT_CD                        object
CIF_PRC_AMNT                      object
CIF_PRC_CRRNCY_CD                 object
BDGT_CIF_PRC_AMNT                float64
BDGT_CIF_PRC_CRRNCY_CD            object
PPLTN_DT                          object
dtype: object

In [102]:
cln_df.head()

,FCT_YR_NUM,FCT_MT_NUM,FCT_CD,FCT_DT,CNTRY_CD,CMPTTR_NM,MTRL_NM,VLM_QTY,VLM_UNT_CD,CIF_PRC_AMNT,CIF_PRC_CRRNCY_CD,BDGT_CIF_PRC_AMNT,BDGT_CIF_PRC_CRRNCY_CD,PPLTN_DT
0,2013,01,2013-01,2013-01-31,HN,Cargill,Maíz,3675.3620,TM,338.3700,$/TM,NaN,$/TM,10/21/2020
1,2013,02,2013-02,2013-02-28,HN,Cargill,Maíz,3642.5900,TM,341.9200,$/TM,NaN,$/TM,10/21/2020
2,2013,03,2013-03,2013-03-31,HN,Cargill,Maíz,9898.0400,TM,312.0800,$/TM,NaN,$/TM,10/21/2020
3,2013,04,2013-04,2013-04-30,HN,Cargill,Maíz,12228.0000,TM,298.6700,$/TM,NaN,$/TM,10/21/2020
4,2013,05,2013-05,2013-05-31,HN,Cargill,Maíz,NaN,-,NaN,-,NaN,-,10/21/2020

In [103]:
cln_df.to_csv('CMPTTRS_IMPRTS_FCT',sep=',',index=False)

In [53]:
cln_df.loc[cln_df['CMPTTR_NM'] == 'ADM CR']

,FCT_YR_NUM,FCT_MT_NUM,FCT_YR_MT_CD,FCT_DT,CNTRY_CD,CMPTTR_NM,CMMDTY_GRP_NM,VLM_QTY,VLM_UNT_CD,CIF_PRC_AMNT,CIF_PRC_CRRNCY_CD,BDGT_CIF_PRC_AMNT,BDGT_CIF_PRC_CRRNCY_CD
1052,2017,12,2017-12,2017-12-31,CR,ADM CR,Soya,2687.4800,TM,380.0000,$/TM,NaN,$/TM
1137,2018,01,2018-01,2018-01-31,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1138,2018,02,2018-02,2018-02-28,CR,ADM CR,Soya,6599.6550,TM,378.8900,$/TM,NaN,$/TM
1139,2018,03,2018-03,2018-03-31,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1140,2018,04,2018-04,2018-04-30,CR,ADM CR,Soya,5469.0000,TM,458.6100,$/TM,NaN,$/TM
1141,2018,05,2018-05,2018-05-31,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1142,2018,06,2018-06,2018-06-30,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1143,2018,07,2018-07,2018-07-31,CR,ADM CR,Soya,3300.0000,TM,430.0000,$/TM,NaN,$/TM
1144,2018,08,2018-08,2018-08-31,CR,ADM CR,Soya,4400.0000,TM,422.6100,$/TM,NaN,$/TM
1145,2018,09,2018-09,2018-09-30,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1146,2018,10,2018-10,2018-10-31,CR,ADM CR,Soya,4839.0000,TM,422.1700,$/TM,NaN,$/TM
1147,2018,11,2018-11,2018-11-30,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1148,2018,12,2018-12,2018-12-31,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1341,2020,01,2020-01,2020-01-31,CR,ADM CR,Maíz,0.0000,TM,0.0000,$/TM,NaN,$/TM
1342,2020,02,2020-02,2020-02-28,CR,ADM CR,Maíz,0.0000,TM,0.0000,$/TM,NaN,$/TM
1343,2020,03,2020-03,2020-03-31,CR,ADM CR,Maíz,5665.0200,TM,206.6200,$/TM,NaN,$/TM
1344,2020,04,2020-04,2020-04-30,CR,ADM CR,Maíz,5148.0100,TM,210.0000,$/TM,NaN,$/TM
1345,2020,05,2020-05,2020-05-31,CR,ADM CR,Maíz,18846.0600,TM,190.8400,$/TM,NaN,$/TM
1346,2020,06,2020-06,2020-06-30,CR,ADM CR,Maíz,12036.4920,TM,183.7700,$/TM,NaN,$/TM
1347,2020,07,2020-07,2020-07-31,CR,ADM CR,Maíz,NaN,-,NaN,-,NaN,-
1348,2020,08,2020-08,2020-08-31,CR,ADM CR,Maíz,4977.4700,TM,170.2400,$/TM,NaN,$/TM
1349,2020,09,2020-09,2020-09-30,CR,ADM CR,Maíz,NaN,-,NaN,-,NaN,-
1350,2020,10,2020-10,2020-10-31,CR,ADM CR,Maíz,NaN,-,NaN,-,NaN,-
1351,2020,11,2020-11,2020-11-30,CR,ADM CR,Maíz,NaN,-,NaN,-,NaN,-
1352,2020,12,2020-12,2020-12-31,CR,ADM CR,Maíz,NaN,-,NaN,-,NaN,-
1377,2019,01,2019-01,2019-01-31,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1378,2019,02,2019-02,2019-02-28,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1379,2019,03,2019-03,2019-03-31,CR,ADM CR,Soya,2851.5650,TM,376.2988,$/TM,NaN,$/TM
1380,2019,04,2019-04,2019-04-30,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1381,2019,05,2019-05,2019-05-31,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1382,2019,06,2019-06,2019-06-30,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1383,2019,07,2019-07,2019-07-31,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1384,2019,08,2019-08,2019-08-31,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1385,2019,09,2019-09,2019-09-30,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1386,2019,10,2019-10,2019-10-31,CR,ADM CR,Soya,2942.3300,TM,359.2200,$/TM,NaN,$/TM
1387,2019,11,2019-11,2019-11-30,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1388,2019,12,2019-12,2019-12-31,CR,ADM CR,Soya,4530.0000,TM,356.4000,$/TM,NaN,$/TM
1389,2020,01,2020-01,2020-01-31,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1390,2020,02,2020-02,2020-02-28,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1391,2020,03,2020-03,2020-03-31,CR,ADM CR,Soya,1667.8800,TM,363.7400,$/TM,NaN,$/TM
1392,2020,04,2020-04,2020-04-30,CR,ADM CR,Soya,1136.5200,TM,380.0000,$/TM,NaN,$/TM
1393,2020,05,2020-05,2020-05-31,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1394,2020,06,2020-06,2020-06-30,CR,ADM CR,Soya,1203.9280,TM,355.6000,$/TM,NaN,$/TM
1395,2020,07,2020-07,2020-07-31,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1396,2020,08,2020-08,2020-08-31,CR,ADM CR,Soya,1595.0000,TM,352.4100,$/TM,NaN,$/TM
1397,2020,09,2020-09,2020-09-30,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1398,2020,10,2020-10,2020-10-31,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1399,2020,11,2020-11,2020-11-30,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-
1400,2020,12,2020-12,2020-12-31,CR,ADM CR,Soya,NaN,-,NaN,-,NaN,-

In [42]:
server = 'grainpredictive.database.windows.net'
database = 'gpi'
username = 'gpi'
password = 'Cmi@2019$A'   
driver= '{ODBC Driver 17 for SQL Server}'

In [43]:
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)

In [44]:
query="""SELECT [FCT_YR_NUM]
      ,[FCT_MT_NUM]
      ,[FCT_YR_MT_CD]
      ,[FCT_DT]
      ,[CNTRY_CD]
      ,[CMPTTR_NM]
      ,[CMMDTY_GRP_NM]
      ,[VLM_QTY]
      ,[VLM_UNT_CD]
      ,[CIF_PRC_AMNT]
      ,[CIF_PRC_CRRNCY_CD]
      ,[BDGT_CIF_PRC_AMNT]
      ,[BDGT_CIF_PRC_CRRNCY_CD]
  FROM [ST_HDG].[CMPTTRS_IMPRTS_INVC_FCT]"""

In [46]:
data = pd.read_sql(query, cnxn)
data.head()

,FCT_YR_NUM,FCT_MT_NUM,FCT_YR_MT_CD,FCT_DT,CNTRY_CD,CMPTTR_NM,CMMDTY_GRP_NM,VLM_QTY,VLM_UNT_CD,CIF_PRC_AMNT,CIF_PRC_CRRNCY_CD,BDGT_CIF_PRC_AMNT,BDGT_CIF_PRC_CRRNCY_CD
0,2013,1,2013-1,31/01/2013,HN,Cargill,Maíz,3675.36,TM,338.37,$/TM,NaN,None
1,2013,2,2013-2,28/02/2013,HN,Cargill,Maíz,3642.59,TM,341.92,$/TM,NaN,None
2,2013,3,2013-3,31/03/2013,HN,Cargill,Maíz,9898.04,TM,312.08,$/TM,NaN,None
3,2013,4,2013-4,30/04/2013,HN,Cargill,Maíz,12228.00,TM,298.67,$/TM,NaN,None
4,2013,5,2013-5,31/05/2013,HN,Cargill,Maíz,NaN,None,NaN,None,NaN,None